<header class="header_area fixed_menu">
    <div class="top_menu">
        <div class="container">
            <div class="row m0 justify-content-between">
                <div class="left_text">
                    {% if section.settings.customer_support_text %}
                    <a href="#">{{section.settings.customer_support_text}} </a>
                    {% endif %}
                    {% if section.settings.customer_support_number %}
                    <a href="tel:+000-999-999">Customer Support: {{section.settings.customer_support_number}}</a>
                    {% endif %}

                </div>
                <div class="right_text">
                    {% if section.settings.currency_select %}
                    <select class="dollar">
                        <option>USD</option>
                        <option value="1">EURO</option>
                        <option value="2">RS</option>
                        <option value="3">GRB</option>
                    </select>
                    {% endif %}
                    {% if section.settings.language_select %}
                    <select class="lan">
                        <option>English</option>
                        <option value="1">Bangla</option>
                        <option value="2">India</option>
                        <option value="3">Aus</option>
                    </select>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="main_menu_three">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{shop.url}}">
                    {% if section.settings.shop_logo %}
                    <img src="{{section.settings.shop_logo |  image_url }}" alt="{{section.settings.shop_logo.alt}}">
                    {% else %}
                    {{shop.name}}
                    {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% for menu in section.settings.header_menu.links %}
                            
                            <li class="{% if menu.active %}active{% endif %}{% if menu.links.size>0 %} dropdown submenu {% endif %}"><a href="{{menu.url}}" {% if menu.links.size>0 %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %}>{{menu.title}}</a>
                            {% if menu.links.size>0 %} 
                                <ul class="dropdown-menu">
                                    {% for submenu in menu.links %}
                                       <li><a href="{{submenu.url}}">{{submenu.title}}</a></li> 
                                    {% endfor %}
                                </ul>
                            {% endif %}    
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if section.settings.search %}
                        <li><a href="about-us.html"><i class="mdi mdi-magnify"></i></a></li>
                        {% endif %}
                        {% if section.settings.cart %}
                        <li><a href="about-us.html"><i class="mdi mdi-cart-outline"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

{% schema %}
{
"name": "Header",
"settings": [
{
"type": "text",
"id": "customer_support_text",
"label": "Customer Support text",
"default": "Live Chat US"

},

{
"type": "text",
"id": "customer_support_number",
"label": "Customer Support Number",
"default": "+000-999-999"

},
{
"type": "checkbox",
"id": "currency_select",
"label": "Show Currency Select",
"default": true

},
{
"type": "checkbox",
"id": "language_select",
"label": "Show Language Select",
"default": true

},
{
"type": "image_picker",
"id": "shop_logo",
"label": "Shop Logo"

},
{
"type": "link_list",
"id": "header_menu",
"label": "Header Menu",
"default": "main-menu"

},
{
"type": "checkbox",
"id": "search",
"label": "Show Search Icon"

},
{
"type": "checkbox",
"id": "cart",
"label": "Show Cart"

}
]
}
{% endschema %}